/* =====================================
   FINANCE CONTROL AI PRO
   DESIGN PREMIUM
===================================== */


*{

    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:
    Arial,
    Helvetica,
    sans-serif;

}



body{

    background:#08090d;

    color:white;

    padding-bottom:90px;

}





/* TOPO */

.top{

    background:#11131a;

    padding:25px 15px;

    text-align:center;

    border-bottom:
    1px solid #252733;

}



.top h1{

    font-size:25px;

    font-weight:700;

}



.top p{

    margin-top:8px;

    color:#9da0aa;

}






main{

    padding:15px;

}





/* TELAS */


.tela{

    display:none;

    animation:
    aparecer .3s ease;

}



@keyframes aparecer{


from{

opacity:0;

transform:
translateY(15px);

}



to{

opacity:1;

transform:
translateY(0);

}


}






/* CARDS */


.card{


    background:#151820;

    border-radius:22px;

    padding:20px;

    margin-bottom:15px;


    box-shadow:
    0 10px 35px
    rgba(0,0,0,.35);


}





.welcome{


background:
linear-gradient(
135deg,
#151820,
#25294a
);


}






/* SALDO */


.saldo-box{


margin-top:20px;


}



.saldo-box span{


display:block;

font-size:35px;

font-weight:bold;


}



.saldo-box small{


color:#a5a7b0;

margin-top:5px;

display:block;


}







/* DASHBOARD */


.dashboard{


display:grid;

grid-template-columns:
1fr 1fr;

gap:15px;


}




.dashboard .card{


margin:0;


}





.card h2{

margin-bottom:15px;

}



.card h3{

font-size:15px;

color:#a5a7b0;

}





.card strong{


display:block;

font-size:24px;

margin-top:10px;


}







/* INPUTS */


input,
select{


width:100%;


padding:15px;


border-radius:15px;


border:none;


outline:none;


background:#222633;


color:white;


font-size:16px;


margin-bottom:12px;


}








button{


width:100%;


padding:15px;


border:none;


border-radius:15px;


background:#7c3cff;


color:white;


font-size:16px;


cursor:pointer;


margin-top:8px;


transition:.2s;


}





button:hover{


transform:
scale(1.02);


}



button:active{


transform:
scale(.96);


}






hr{


border:none;

border-top:
1px solid #333;

margin:
20px 0;


}
/* =====================================
   LISTAS
===================================== */


#listaGastos,
#listaInvestimentos,
#listaMetas,
#listaFaturas{

    margin-top:15px;

}




.card-item{


    background:#202431;


    padding:15px;


    border-radius:16px;


    margin-bottom:10px;


    display:flex;


    align-items:center;


    justify-content:space-between;


}




.card-item span{


color:#ddd;


}




.card-item strong{


font-size:18px;


}




.card-item button{


width:auto;


padding:8px 12px;


background:#ff3b30;


margin:0;


}








/* =====================================
   METAS
===================================== */


.meta-card{


background:#202431;


padding:15px;


border-radius:18px;


margin-top:10px;


}




.barra{


height:12px;


background:#333844;


border-radius:20px;


overflow:hidden;


margin:15px 0;


}





.progresso{


height:100%;


background:#00d084;


transition:.5s;


}








/* =====================================
   GRAFICO
===================================== */


canvas{


width:100%!important;


max-height:300px;


}







/* =====================================
   MENU INFERIOR
===================================== */


.menu{


position:fixed;


bottom:0;


left:0;


width:100%;


height:75px;


background:#11131a;


display:flex;


justify-content:space-around;


align-items:center;


border-top:


1px solid #292d3a;


z-index:999;


}





.menu button{


background:none;


width:20%;


padding:5px;


margin:0;


font-size:12px;


color:white;


}





.menu button:hover{


background:#202431;


}







/* =====================================
   PERFIL
===================================== */


#perfil .card{


background:#202431;


}







/* =====================================
   MOBILE
===================================== */


@media(max-width:600px){



.dashboard{


grid-template-columns:1fr;


}



.top h1{


font-size:22px;


}



.saldo-box span{


font-size:30px;


}



}






/* =====================================
   SCROLL
===================================== */


::-webkit-scrollbar{


width:5px;


}



::-webkit-scrollbar-thumb{


background:#7c3cff;


border-radius:20px;


}
